.account
.account_attr
.security
.security_attr
.security_event
.security_prop
.latest_price
.price
.watchlist
.watchlist_security
.xact
.xact_unit
.xact_cross_entry
.taxonomy
.taxonomy_category
.taxonomy_assignment
.taxonomy_data
.dashboard
.property
.bookmark
.attribute_type
.config_set
.config_entry
.create-db